ShootingGame.xcodeproj/xcuserdata/changyeolseo.xcuserdatad/xcdebugger
ShootingGame.xcodeproj/project.xcworkspace/xcuserdata/seochangyeol.xcuserdatad/UserInterfaceState.xcuserstate
ShootingGame.xcodeproj/xcuserdata/seochangyeol.xcuserdatad/xcschemes/xcschememanagement.plist
